extends ./base

block styles

block content
  div.api-container
    h1.title Welcome to the Tandem API Gateway
    div.api-key
      div API Key
        div #{api.key}

    div.api-secret
      div API Secret
        div #{api.secret}

