doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Tandem API Gateway

    // Base Styles

    // Custom Styles
    block styles

    // External Dependencies
    block head-scripts

  body
    block content

    block body-scripts