extends ./base

block styles

block content
  div.signup-container
    h1.title Tandem API Gateway
    div.signup-form
      form(method='POST', action='/auth/signup')
        div.signup-form-input.email
          input(type='email', name='email', placeholder="Email" required)
        div.signup-form-input.password
          input(type='password', name='password', placeholder="Password" required)
        button.signup-button Sign Up

    div.login-link-container
      a.login-link(href='/login') Cancel